.robot {
  position: relative;
  left: 200px;
}

.beep {
  width: 5px;
  height: 0;
  border: 5px solid transparent;
  border-top: 10px solid black;
  border-bottom: 80px solid silver;
  position: relative;
  left: 140px;
}

@keyframes blink {
  50% {
    background: radial-gradient(ellipse, crimson 15%, white 40%), black;
  }
}
@-webkit-keyframes blink {
  50% {
    background: -webkit-radial-gradient(ellipse, crimson 15%, white 40%), black;
  }
}
@-moz-keyframes blink {
  50% {
    background: -moz-radial-gradient(ellipse, crimson 15%, white 40%), black;
  }
}
.laser {
  animation: blink .5s infinite;
  -webkit-animation: blink .5s infinite;
  -moz-animation: blink .5s infinite;
}
.brain {
  background: radial-gradient(circle, white 15%, transparent 40%), black;
  background: -moz-radial-gradient(circle, white 15%, transparent 40%), black; 
  background: -webkit-radial-gradient(circle, white 15%, transparent 40%), black;
  background-size: 75px 150px;
  height: 150px;
  width: 150px;
  border-radius: 60px 60px 10px 10px;
  border-bottom: 40px solid silver;
  position: relative;
  left: 70px;
}
.torso {
  height: 0;
  width: 140px;
  border-top: 300px solid black;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-radius: 20px 20px 100px 100px;
}
.left {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: silver;
  transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  position: relative;
  top: -320px;
  left: -190px;
  z-index: -1;
}
.right {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: silver;
  transform: scaleY(-1) rotate(20deg);
  -webkit-transform: scaleY(-1) rotate(20deg);
  -moz-transform: scaleY(-1) rotate(20deg);
  position: relative;
  top: -620px;
  left: 190px;
  z-index: -1;
}
.foot {
  height: 40px;
  width: 40px;
  background: black;
  border-radius: 40px;
  border: 15px solid crimson;
  position: relative;
  left: 110px;
  top: -10px;
  z-index: -1;
}
@keyframes dance {
  from {
    left: 800px;
  }
}
@-webkit-keyframes dance {
  from {
    left: 800px;
  }
}
@-moz-keyframes dance {
  from {
    left: 800px;
  }
}  


img { 
  animation: dance 6s infinite;
  -webkit-animation: dance 6s infinite;
  -moz-animation: dance 6s infinite;
  position: absolute;
  top: 300px;
  left: 300px;
} 

